# Files ignored
Thumbs.db
*.obj
*.pdb
*.user
*.vspscc
*.vssscc
*.suo
*.sln.docstates
*.bak
*.cache
*.log
*.tmp
*.dotCover
*.DotSettings
*.dll*
*.publish.xml
*.log

# Folders ignored
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
obj/
.idea/
_ReSharper*/
[Tt]est[Rr]esult*

# NuGet files
packages/
*.nupkg
!NuGet.exe