<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.log4net" version="0.1.32.1" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net45" />
</packages>