<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="nanoprofiler" type="EF.Diagnostics.Profiling.Configuration.NanoProfilerConfigurationSection, NanoProfiler" />
  </configSections>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="DemoDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SimpleDemoDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <slf4net>
    <factory type="slf4net.log4net.Log4netLoggerFactory, slf4net.log4net">
      <factory-data>
        <configFile value="log4net.config" />
        <watch value="true" />
      </factory-data>
    </factory>
  </slf4net>
  <nanoprofiler>
    <filters>
      <add key="_tools" value="_tools/" type="Contain" />
      <add key="exts" value="ico,jpg,js,css" type="FileExt" />
    </filters>
  </nanoprofiler>
  <system.webServer>
    <modules>
      <add name="ProfilingResultsModule" type="EF.Diagnostics.Profiling.Web.Extensions.Handlers.ProfilingResultsModule, NanoProfiler.Web.Extensions"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfDemoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64511/WcfDemoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfDemoService" contract="DemoService.IWcfDemoService" name="BasicHttpBinding_IWcfDemoService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <nanoprofiler />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="nanoprofiler" type="EF.Diagnostics.Profiling.ServiceModel.Configuration.WcfProfilingBehaviorElement, NanoProfiler.Wcf" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>